{% load static %}
{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light shadow">
    <a class="navbar-brand" href="{% url 'Index:Index' %}">
        <img src="{% static 'accounts/img/logoEducapManzana.png' %}" alt="" width="50" height="45">
        EduCap
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="{% url 'LearningCatalog:listLesson' %}">
                    Lecciones
                    <span class="material-icons-outlined align-middle blueIcons float-left mr-1">
                        menu_book
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="{% url 'LearningCatalog:primaryCategory' %}">
                    Categorías
                    <span class="material-icons-outlined align-middle blueIcons float-left mr-1">
                        space_dashboard
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="{% url 'aboutUs:AboutUs' %}">
                    Acerca de nosotros
                    <span class="material-icons-outlined align-middle blueIcons float-left mr-1">
                        business
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="{% url 'Contact:Contactar' %}">
                    Contacto
                    <span class="material-icons-outlined align-middle blueIcons float-left mr-1">
                        phone
                    </span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <!--Dropdown user dashboard-->
            <li class="nav-item dropdown">
                {% if user.is_authenticated %}
                <a class="nav-link font-weight-bold dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="material-icons-outlined align-middle blueIcons">
                        account_circle
                    </span>
                    {{ user.first_name }}
                    {{ user.last_name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 200px; left: -55px;">
                    <a class="dropdown-item" href="{% url 'myAccount:myAccount' %}">
                        <span class="material-icons-outlined align-middle blueIcons float-left  mr-1">
                            manage_accounts
                        </span>
                        Cuenta
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <span class="material-icons-outlined align-middle blueIcons float-left mr-1">
                            logout
                        </span>
                        Cerrar sesión
                    </a>
                </div>
                {% else %}
                <a class="nav-link font-weight-bold dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="material-icons-outlined align-middle blueIcons">
                        account_circle
                    </span>
                    Inicia sesión
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 200px; left: -55px;">
                    <a class="dropdown-item" href="{% url 'login' %}">
                        <span class="material-icons-outlined align-middle blueIcons float-left mr-1">
                            login
                        </span>
                        Iniciar sesión
                    </a>
                    <a class="dropdown-item" href="{% url 'myAccount:studentCreate' %}">
                        <span class="material-icons-outlined align-middle blueIcons float-left mr-1">
                            app_registration
                        </span>
                        Registrate
                    </a>

                </div>
                {% endif %}
            </li>
            <!--Dropdown user dashboard-->
        </ul>
    </div>
</nav>