<!--users/templates/registration/password_change_form.html-->

{% extends 'LearningCatalog/layout.html' %}
{% load crispy_forms_tags %}
{% block body %}

<head>
    <title>Cambio de contraseña</title>
</head>
<div class="container">
    <div class="jumbotron mt-5 bg-light mr-0 ml-0 shadow mb-5">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 mb-3">
                    Cambio de contraseña
                    <span class="material-icons-outlined align-bottom redIcons " style="font-size: 48px;">
                        password
                    </span>
                </h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-4">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.old_password|as_crispy_field }}
                    {{ form.new_password1|as_crispy_field }}
                    {{ form.new_password2|as_crispy_field }}

                    <input class="btn btn-primary" type="submit" value="Cambiar">
                </form>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <a href="{% url 'login' %}">Regresar a login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}