{% extends 'LearningCatalog/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<head>
    <title>Mis Lecciones</title>
</head>

<div class="container">
    <div class="jumbotron mt-5 bg-light mr-0 ml-0 shadow mb-5">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 mb-3">
                    Mis Lecciones seguidas
                    <span class="material-icons-outlined align-middle blueIcons" style="font-size: 48px;">
                        menu_book
                    </span>
                </h1>
            </div>
        </div>
        <hr>
        <div class="row">
            {% for lesson in lessons %}
            <div class="col-12 col-md-6 col-lg-4 mt-3">
                <div class="card mx-auto mx-md-0" style="width: 18rem;">
                    <img src="{{lesson.leccion.imagen.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{lesson.leccion.titulo}}</h5>
                        <p class="card-text">{{lesson.leccion.descripcion}}</p>
                        <a href="{% url 'LearningCatalog:readLesson' lesson.leccion.pk %}" class="btn btn-primary">
                            Ver contenido
                            <span class="material-icons-outlined align-middle">
                                arrow_forward
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col">
                <p>No hay lecciones</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}